
:root{
    --main-orange: #FA9D36;
    --main-text: #585858;
    --sub-text: #707070;
    --accent: #F2F3EE;
    --h-font: 'Montserrat', sans-serif;
    --text-font: 'Source Sans Pro', sans-serif;
}
/* MAP --------------------------------------------------------------------- */

.marker {
    background-color:var(--main-orange);
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
  }

  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  

.mapboxgl-ctrl-geocoder{
    width: 30px!important;
    /* position: absolute; */
    margin-top: 30px;
    
}

#map {
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    position: absolute;
}

/* LOGIN & REGISTRATIE ------------------------------------------------------*/

* {
    margin: 0;
    box-sizing: border-box;
}

#logo {
    height: 25vh;
    margin: 7.5vh auto;
    text-align: center;
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 50vh;
}

.input-form {
    margin: 10px auto;
    width: 90%;
}

.input-form label {
    font-family: var(--text-font);
    font-size: 16px;
    text-align: left;
    color: var(--main-orange);
}

.input-form input {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #B6B5BD;
    padding: 10px 0px 10px 10px;
    width: 100%;
}

#redirect-registratie,
#redirect-login {
    display: inline-block;
    width: 90%;
    text-align: right;
    font-family: var(--text-font);
    color: #585858;
    text-decoration: none;
    height: 10vh;
}

#submit-btn {
    background-color: var(--main-orange);
    border: none;
    color: white;
    font-family: var(--h-font);
    margin-top: 10px;
    cursor: pointer;
    font-size: 17px;
}


#loginShow {
    /* display: none; */
    width: 90%;
    margin: 0 auto;
    font-family: var(--text-font);
    font-size: 1.5em;
}

#loginShow a {
    background-color: var(--main-orange);
    border: none;
    color: white;
    font-family: var(--h-font);
    margin-top: 10px;
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
}

#h1-login{
    color: var(--sub-text);
}

#darken{
    width: 100vh;
    height: 100vh;
    z-index: 99;
    position: absolute;
}

.darken-active{
    background: rgba(0,0,0,0.4);

}

/* TUTORIAL ----------------------------------------------------------------*/

#tutorial-image {
    height: 40vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

#tutorial-image img {
    width: 100%;
    z-index: 0;
    position: absolute;
}

#tutorial-container {
    width: 100vw;
}

#position-dots {
    text-align: center;
    z-index: 3;

}

.slide {
    display: none;
    z-index: 1;
    height: 60vh;
    position: absolute;
    bottom: 30px;
    background-color: white;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 40vh;
    color: var(--main-orange);
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 4;
}

.prev {
    margin-left: 10vw;
}

.next {
    margin-right: 10vw;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


#position-dots {
    z-index: 5;
    position: relative;
    text-align: center;
    margin-top: 52.5vh;
    margin-left: 15px;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    bottom: 0;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.slide h1 {
    color: var(--main-orange);
    margin-top: 5vh;
    font-family: var(--h-font);
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 30px;
}

.slide p {
    font-family: var(--text-font);
    width: 80%;
    margin: 0 auto;

}

#cta a {
    z-index: 5;
    position: relative;
    text-align: center;
    top: 40vh;
    background-color: var(--main-orange);
    border: none;
    color: white;
    font-family: var(--h-font);
    margin-top: 10px;
    text-decoration: none;
    padding: 15px 45px;
    border-radius: 10px;
    width: 200px;
}

#cta {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: none;
}

/* PROFIEL VERVOLLEDIGEN -------------------------------------------------- */

h1 {
    font-family: var(--h-font);
    color: #202020;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
}

#avatar-input {
    border: none;
}

#form-vervolledig {
    height: 100vh;
}

/* HOMEPAGE ----------------------------------------------------------------*/

#index-zoek{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    padding: 20px;
    justify-content: flex-end;
    display: none; 
    /* ------------ssssssssssssssmjdfnhjbddhjbdhjbfhbfhd */
}
#index-zoek #submit-zoek{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    background-image: url(images/icon-search.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    background-color: var(--main-orange);
    cursor: pointer;
}

#index-zoek #zoek-input{
    border: none;
    border-radius: 60px;
    height: 60px;
    background-color: var(--main-orange);
    width: 57%;
    z-index: 5;
    padding-left: 15px;
    color: white;
    font-family: var(--text-font);
    margin-right: 10px;
}

#exit-zoek-btn{
    width: 60px;
    height: 60px;
    z-index: 200;
    border-radius: 100%;
    border: none;
    background-color: white;

}

.slide-in-zoek {
    animation: slide-in-zoek 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  }
  
  @keyframes slide-in-zoek {
    0% {
      width: 60px;
    }
  
    100% {
      width: 57%;
    }
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

#voeg-toe-show{
    display: none;
    position: absolute;
    bottom: 230px;
    right: 0;
}

#voeg-toe-show button{
    width: 200px;
    background-color: var(--main-orange);
    border-radius: 10px;
    border: none;
    font-size: 20px;
    display: block;
    margin: 20px;
    padding: 10px;
}

#voeg-toe-show a{
    color: white;
    text-decoration: none;
    font-family: var(--text-font);

}

.rotate{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#voeg-toe-btn {
    transform: rotate(0deg);
    background-image: url(images/icon-add.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    border-radius: 100%;
    border: none;
    background-size: 40%;
    background-position: center;
    background-color: var(--main-orange);
    cursor: pointer;
    bottom: 180px;
    right: 20px;
    position: absolute;
    z-index: 2000;
}

#producten{
    bottom: 0;
    position: absolute;
    width: 100vw;
    height: 160px;
    padding: 20px 0px 20px 20px;
    background-color: rgb(240, 240, 240);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}


#product{
    display: inline-block;
    height: 120px;
    width: 290px;
    background-color: rgb(255, 255, 255);
    border-radius: 22px;
    margin: 0px 10px 0px 0px;
    text-decoration: none;
}

#product-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#product-img-wrapper{
    overflow: hidden;
    height: 120px;
    width: 30%;
    border-radius: 22px 0px 0px 22px;
    float: left;
}

#product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

#producten h2{
    font-family: var(--h-font);
    font-size: 20px;
    color: var(--main-text);
}
#producten p{
    font-family: var(--text-font);
    color: var(--sub-text);
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

#producten p:first-of-type{
    font-size: 20px;
}



/* MENU ------------------------------------------------------------------- */

.menu-btn span {
    width: 50px;
    height: 50px;
    background-color: #bbb;
}

header{
    width: 58px;
    z-index: 100;
    position: absolute;
}

#user img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-right: 20px;
}

#user{
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

#user p{
    font-family: var(--h-font); 
    font-size: 20px;
    color: var(--main-orange);
    font-weight: bold;
}

#menu-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 280px;
    left: -280px;
    height: 100vh;
    background-color: white;
    z-index: 1100;
}

.show{
    position: relative;
    width: 100%;
    right: 0vw;
}

.slide-in {
    animation: slide-in 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  }
  
  @keyframes slide-in {
    0% {
      left: -280px;
    }
  
    100% {
      left: 0px;
    }
}
.slide-out {
    animation: slide-out 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  }
  
  @keyframes slide-out {
    0% {
        right: 0vw;
    }
  
    100% {
        right: -280px;
    }
}

.slide-in-btn {
    animation: slide-in-btn 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  }
  
  @keyframes slide-in-btn {
    0% {
      transform: translateX(0vw);
    }
  
    100% {
      transform: translateX(280px);
    }
}
.slide-out-btn {
    animation: slide-out-btn 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  }
  
  @keyframes slide-out-btn {
    0% {
      transform: translateX(280px);
    }
  
    100% {
      transform: translateX(0vw);
    }
}


#menu-items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    align-items: flex-start;
}

#menu-items a{
    padding-left: 20px;
}

#menu-container a{
    text-decoration: none;
    font-family: var(--h-font);
    font-size: 20px;
    font-weight: bold;
    color: #5e5e5e;
}

#menu-items{
    border-top: 1.5px solid #bbb;
}

#logout{
    margin-top: 20vh;
    justify-content: flex-start;
    padding-left: 20px;
}

#logout a{
    color: rgb(250, 51, 51);
}



/* HAMBURGER MENU --------------------------------------------------------- */

.hamburger {
    padding: 15px 15px;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    border: 0;
    margin: 0;
    overflow: visible;
    background-color: white;
    border-radius: 100%;
    margin: 20px 0px 0px 20px;
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    z-index: 3;
    position: absolute;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #5e5e5e;
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 30px;
    height: 4px;
    background-color: #5e5e5e;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after{
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner{
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after{
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s;
}

/* TOP NAVIGATIE ---------------------------------------------------------- */

#top-nav{
    width: 100%;
    display: flex;
    background-color: white;
    height: 70px;
    align-items: center;
    box-shadow: 0px 5px 10px #b8b8b8;
    position: fixed;
    z-index: 2000;
}

#back-btn{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#back-btn a{
    text-decoration: none;
    font-size: 45px;
    font-family: var(--text-font);
    color: var(--main-text);
    font-weight: bold;
    margin: 0;
}

#top-nav p{
    text-align: center;
    width: 100%;
    font-family: var(--h-font);
    color: var(--main-text);
    font-weight: bold;
    font-size: 1em;
}

/* VOEG PRODUCT TOE --------------------------------------------------------*/

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--main-orange);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--main-orange);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 


main{
    padding: 100px 20px 30px 20px;
    position: absolute;
    width: 100%;
}

#form-product{
    font-family: var(--text-font);
    width: 100%;
    height: 100%;
}

.input-wrapper{
    padding-bottom: 30px;
}

.input-title{
    display: block;
    font-size: 1em;
    padding-bottom: 10px;
    color: var(--sub-text);
}

input::-webkit-input-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder{
    font-family: var(--text-font);
}

.input-text-style{
    width: 100%;
    padding: 10px;
    border: 1px solid #B6B5BD;
    border-radius: 5px;
}

.input-currency{
    width: 60%;
}

.input-switch-style{
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
}

.input-switch-style:first-of-type{
    padding-bottom: 0;
    flex-direction: row;
    margin: 0;
    align-items: center;
}

.input-switch-style div{
    align-items: center;
    display: flex;
}

#switch-fc{
    margin-bottom: 15px;
}

.input-title-switch{
    padding: 0;
    padding-left: 10px;
    display: inline-block;
}

#currency-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-select-style{
    width: 100%;
    padding: 10px;
    border: 1px solid #B6B5BD;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none !important;
	background-image: url(images/select-dropdown-arrow.svg);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.input-select-style::-ms-expand {
	display: none;
}
.input-select-style:focus {
	box-shadow: var(--main-orange);
	color: #222;
	outline: none;
}
.input-select-style option {
	font-weight:normal;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="file"]{
    display: none;
}
.custom-file-upload {
    background-color: #F2F3EE;
    display: inline-block;
    cursor: pointer;
    background-image: url(images/icon-add-image.png);
    background-repeat: no-repeat;
    background-size: 47%;
    background-position: center;
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

#input-file-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.input-bigger{
    height: 100px;
}

textarea::-webkit-input-placeholder {
    font-family: arial;
    font-size: 14px;
  }
  
  textarea:-moz-placeholder { /* Firefox 18- */
    font-family: arial;
    font-size: 14px;  
  }
  
  textarea::-moz-placeholder {  /* Firefox 19+ */
    font-family: arial;
    font-size: 14px;  
  }
  
  textarea:-ms-input-placeholder {
    font-family: arial;
    font-size: 14px;  
  }
  
  textarea::placeholder {
    font-family: arial;
    font-size: 14px;  
  }

#img-preview1,
#img-preview2,
#img-preview3,
#img-preview4{
    /* width: 70px;
    height: 70px;
    overflow: hidden; */
}

.product-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.input-wrapper #btn-annuleer,
.input-wrapper #btn-voegtoe{
    width: 47%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-family: var(--h-font);
    font-size: 17px;
    cursor: pointer;
}

.input-wrapper #btn-annuleer{
    border: 1px solid #B6B5BD;
    background-color: transparent;
    color: #B6B5BD;
}

.input-wrapper #btn-voegtoe{
    background-color: var(--main-orange);
    color: white;
}

.succes-msg{
    font-family: var(--text-font);
    color: var(--main-orange);
    font-weight: bold;
    border: 1px solid var(--main-orange);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}


/* PROFIELPAGINA -----------------------------------------------------------*/

#mijn-profiel{
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--accent);
    padding-bottom: 30px;
}

#mijn-profiel #pp-wrapper{
    width: 90px;
    height: 90px;
    border-radius: 100px;
    overflow: hidden;

}

#pp-wrapper img{
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

#gegevens{
    padding: 0px 20px 0px 15px;
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-evenly;
}

#gegevens #naam{
    font-family: var(--h-font);
    color: var(--main-text);
    font-size: 20px;
}

#gegevens #functie{
    font-family: var(--text-font);
    color: var(--main-orange);
    font-size: 1em;
}

#gegevens #email{
    font-family: var(--text-font);
    color: var(--sub-text);
    font-size: 1em;
}

#mijn-profiel a{
    text-decoration: none;
} 

#mijn-profiel i{
    text-decoration: none;
    color: var(--sub-text);
    font-size: 20px
}

#update-profiel-btn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
}

                        /* producten */

#mijn-producten{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#producten-title, #workshops-title{
    font-family: var(--h-font);
    color: var(--main-text);
    font-size: 1.4em;
    margin: 40px 0px 20px 0px;
}

.product{
    display: grid;
    width: 49%;
    height: 150px;
    border: 2px solid var(--accent);
    border-radius: 10px;
    overflow: hidden;
    grid-template-rows: 60% 20% 20%;
    grid-template-columns: 50% 50%;
    margin-top: 8px;
}

.product .img-wrapper{
    overflow: hidden;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.product .img-wrapper img{
    width: 100%;
}

.naam-product{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 4px;

    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 3;

    font-family: var(--h-font);
    color: var(--main-text);
    font-size: 1em;
}

.prijs-product{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 4px;

    grid-row-start: 3;
    grid-row-end: 3;

    font-family: var(--h-font);
    color: var(--main-orange);
    font-size: 1.4em;
    font-weight: bold;
}

.eenheid-product{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 4px;

    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;

    font-family: var(--text-font);
    color: var(--main-text);
    font-size: 1em;
}

#add-product{
    width: 49%;
    height: 150px;
    border: 2px solid var(--accent);
    border-radius: 10px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-product img{
    width: 50px;
    height: 50px;
}

                        /* workshops */

#mijn-workshops{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.workshop{
    display: grid;
    width: 49%;
    height: 220px;
    border: 2px solid var(--accent);
    border-radius: 10px;
    overflow: hidden;
    grid-template-rows: 50% 25% 12.5% 12.5%;
    margin-top: 3px;
}


#add-workshop img{
    width: 50px;
    height: 50px;
}
    
.workshop .img-wrapper{
    overflow: hidden;
    grid-row-start: 1;
    grid-row-end: 1;

}

.workshop .img-wrapper img{
    width: 100%;
}

.naam-workshop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 4px;

    grid-row-start: 2;
    grid-row-end: 2;


    font-family: var(--h-font);
    color: var(--main-text);
    font-size: 1em;
}

.datum-workshop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 4px;

    font-family: var(--text-font);
    color: var(--main-text);
    font-size: 1em;
}

.locatie-workshop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 4px;

    font-family: var(--text-font);
    color: var(--main-text);
    font-size: 1em;
}

#add-workshop{
    width: 49%;
    height: 220px;
    border: 2px solid var(--accent);
    border-radius: 10px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
